packages/
data/
.build/
tmp/
R/vaginal_species/.Rhistory
docs/*.aux
docs/*.log
docs/*.out
docs/*.pdf
docs/*.docx
src_tests/scratch.cc
src_tests/*_test
R/rLpps_vs_observed_llps/pics/
presentations/
src/Archives/
Postal_all_runs_dada2_abundance_table_w_taxa_modified.csv
MC_order7_results.txt
test/
vSpeciateDB_models/vSpeciateIT_V1V3
vSpeciateDB_models/vSpeciateIT_V1V9
vSpeciateDB_models/vSpeciateIT_V3V4
vSpeciateDB_models/vSpeciateIT_V4V4
vSpeciateDB_models/.DS_Store
src/.DS_Store
test_count_table_speciateIT.csv
.DS_Store
bin/.DS_Store
vSpeciateDB_models/.DS_Store
